<nav>
    <div class="nav-wrapper teal lighten-2">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="apply-loans.html">Apply for a Loan</a></li>
            <li><a href="view-loans.html">View Existing Loans</a></li>
        </ul>
    </div>
</nav>